body {
    background-color: #f1f1f1;
    padding: 20px;
}

.content {
    width: 500px;
    max-height: 1000px;
    margin: auto;
}

.element {
    padding: 12px;
}

.button {
    padding: 15px 80px;
    font-size: 24px;
    width: 100%;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 30px;
    box-shadow: 7px 9px #999;
}

.button:hover {
background-color: #3e8e41;
}

.button:active {
    background-color: #3e8e41;
    box-shadow: 4px 6px #666;
    transform: translate(3px, 3px);
}
